body {
    font-family: sans-serif;
    margin: 20px;

    .campo {
        margin-bottom: 10px;

        #resultado {
            margin-top: 20px;
            font-weight: bold;
            color: blue;
        }
    }
}